html,
body {
  height: 100%;
}

body {
  align-items: center;
  padding-bottom: 40px;
  background-color: #000000;
  background-repeat: repeat;
  background-image: url("campaignback.jpeg");
  background-position: center;
  background-size: cover;
}
h3{
padding-left:20px;

}
h1 {
  color: white;
  padding-bottom:20px;
  padding-top: 20px;
  font-style: italic;
  text-align:center;
}
#center{
  padding-top:30px;
  text-align: justify;
  margin: 0 auto;
  width: 25%;
}
.list-group{

    max-height: 200px;
    width: 400px;
    padding:10px !important;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

.space{
padding-left:20px;

}

.flex-container {
  display: flex;
   justify-content: space-between;
   flex-direction: row;
}

#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }
.results{
        max-width:800px;

}
.campaignLink{
    color: #2E2E2E;
}
.assignmentLink{
    color: #2E2E2E;
}
.padding_adds {
    padding-right:150px;
    padding-bottom:0px;

}
.campaignFront {
    padding-right:450px;
    padding-bottom:0px;

}

#errorCanvasser{
color:red;
}
#errorManager{
color:red;
}
#successManager{
color:green;
}
#successCanvasser{
color:green;
}


#adminTd{
    vertical-align: middle;
    text-align: center;


}

.getInfo{
display: none;

}

#set{
max-height:38px;
}

.campaignLabel{
font-size:20px;
padding-top:5px;
padding-left:10px;
color:#2E2E2E;

}

.disabled {
    pointer-events:none;
    opacity:0.5;
}


.list-group-item{
border-color:#2E2E2E !important;
 background-color: transparent !important;

 }

#managerTd{
    vertical-align: middle;
    text-align: center;


}
#canvasserTd{
    vertical-align: middle;
    text-align: center;


}

form-group{
    padding-right:20px;


}

.text_limit{

    word-wrap: break-word;
}

.list_item{

    padding-top:5px;
}



.long-display{
    width:700px;


}
hr{
    background-color: #212121;

}
label {
    color: #212121;
}
.currentCampaign{
    color:#212121;
}
.prependInput{
    max-height:38px;
}
.appendButton{
max-height:38px;
}

.jumbotron{
  box-shadow: 0px 0px 10px #888888;
  width: 100%;
  max-width: 1200px;
  padding: 15px;
  margin: auto;
  background: rgba(255,255,255, 0.5)!important;

}