{% extends 'base.html' %}

{% block content %}



    <script>

    $(document).ready(function() {
        $("#updateProfile").click(function () {
            $.ajax({
                type: "POST",
                url: "/api/canvasser/edit_availability",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"dates": dates}),
                success: function (result) {
                    alert(JSON.stringify(result));

                }
            });
        });
    });


    $(document).ready(function(){
        $("ul").on("click", "button", function(e) {
            e.preventDefault();
            $(this).parent().remove();
        });
    });

    var dates = new Array();
    $(document).ready(function () {
        $("#addDates").click(function () {
            var str = $("#addD").val().split('/');
            var month = parseInt(str[0]);
            var day = parseInt(str[1]);
            var year = parseInt(str[2]);
            var temp = [];
            temp.push(year);
            temp.push(month);
            temp.push(day);
            alert(temp);
            dates.push(temp);
            $("#dates_avail").append('<div class = "container">'+'<li class = "list_item">'+$("#addD").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');

        });
    });

    $( document ).ready(function() {
        $(function() {
            startDate = [];
            endDate = [];
            $('input[id="date"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                $("#startD").val(start.format('MM/DD/YYYY'));
                startDate.push(start.format('YYYY'));
                startDate.push(start.format('MM'));
                startDate.push(start.format('DD'));
                $("#endD").val(end.format('MM/DD/YYYY'));
                endDate.push(end.format('YYYY'));
                endDate.push(end.format('MM'));
                endDate.push(end.format('DD'));
                for(var i = 0; i <3;i++){
                    startDate[i] = parseInt(startDate[i]);
                    endDate[i] = parseInt(endDate[i]);
                }
                alert(startDate);
                alert(endDate);
            });
        });
     });




    </script>


<div class="jumbotron">
    <div class="update">
        <h1>Account Profile</h1>
        <form>

            <div class="form-group">
                <h3>Change Password</h3>
                <div class="input-group col-4">

                    <div class="input-group-prepend">

                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>

                    <input type="text" id="oldPassword" class="form-control">
                </div>

            </div>
            <br><br>
                        {% if role.2 %}
            <div id="edit_avail">
                <div class="form-group row">
                    <div class="input-group col-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="dates_unavail">Add Dates Unavailable</span>
                        </div>
                        <input type="text" id="date" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <h5><label for="dates_avail">Dates Unavailable: </label></h5>
                    <ul class="list-group" id="dates_avail">
                    </ul>
                </div>
            </div>
            {% endif %}
            <br>

            <button type = "button" id="updateProfile" class="btn btn-block btn-dark btn-secondary">Update Profile</button>

        </form>
    </div>

</div>

{% endblock%}