{% extends 'base.html' %}

{% block content %}



    <script>

    $(document).ready(function() {
        $("#updateProfile").click(function () {
            $.ajax({
                type: "POST",
                url: "/api/canvasser/edit_availability",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"dates": dates}),
                success: function (result) {
                    alert(JSON.stringify(result));

                }
            });
        });
    });


    $(document).ready(function(){
        $("ul").on("click", "button", function(e) {
            e.preventDefault();
            $(this).parent().remove();
        });
    });

    var dates = new Array();
    $(document).ready(function () {
        $("#addDates").click(function () {
            if($("#startD").val() == ""){
                $("#error").html("No date selected!");

            }
            else{

            var date1 = $("#endD").val().split('/');

            var month = parseInt(date1[0]);
            var day = parseInt(date1[1]);
            var year = parseInt(date1[2]);

            var date2 = $("#startD").val().split('/');
            var month2 = parseInt(date2[0]);
            var day2 = parseInt(date2[1]);
            var year2 = parseInt(date2[2]);
            var temp = [];
            var temp2 = [];
            var both = [];

            if(month == month2 && day == day2 && year == year2){
            temp.push(year);
            temp.push(month);
            temp.push(day);
            temp2.push(year);
            temp2.push(month);
            temp2.push(day);
            both.push(temp);
            both.push(temp2);
            dates.push(both);
            $("#dates_avail").append('<li class = "list-group-item">'+$("#startD").val() +'<button type="button" class="btn btn-secondary delete-date float-right"> X</button>'+"</li>");
            }
            else{
            temp.push(year);
            temp.push(month);
            temp.push(day);
            temp2.push(year2);
            temp2.push(month2);
            temp2.push(day2);
            both.push(temp2);
            both.push(temp);
            dates.push(both);
            $("#dates_avail").append('<li class = "list-group-item">'+$("#startD").val()+ " - " +$("#endD").val()+'<button type="button" class="btn btn-secondary delete-date float-right"> X</button>'+"</li>");
            }

            }
        });
    });


    $(document).on('click', '.delete-date', function() {
        var temp = new Array();
        var str = $(this).parent().text().split(" - ");
        var str1 = str[0].split("/");
        var str2 = str[1].split("/");
        alert(str1);
        alert(str2);
        var month = str1[0];
        var day = str1[1];
        var year = str1[2];
        var month2 = str2[0];
        var day2 = str2[1];
        var split = str2[2].split(" ");
        var year2 = split[0];
        temp.push(parseInt(year));
        temp.push(parseInt(month));
        temp.push(parseInt(day));
        temp.push(parseInt(year2));
        temp.push(parseInt(month2));
        temp.push(parseInt(day2));

        $(this).parent().remove();

        for(var i = 0; i < dates.length;i++){
                if(dates[i].toString() == temp.toString()){
                    dates.splice(i,1);
                    break;

                }
        }

    });

    $( document ).ready(function() {
        $(function() {
            startDate = [];
            endDate = [];
            $('input[id="date"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                $("#startD").val(start.format('MM/DD/YYYY'));
                startDate.push(start.format('YYYY'));
                startDate.push(start.format('MM'));
                startDate.push(start.format('DD'));
                $("#endD").val(end.format('MM/DD/YYYY'));
                endDate.push(end.format('YYYY'));
                endDate.push(end.format('MM'));
                endDate.push(end.format('DD'));
                for(var i = 0; i < 3;i++){
                    startDate[i] = parseInt(startDate[i]);
                    endDate[i] = parseInt(endDate[i]);
                }
            });
        });
     });




    </script>


<div class="jumbotron">

    <div class="update">
        <h1>Account Profile</h1>
        <form>

            <div class="form-group">
                <h3>Change Password</h3>
                <div class="input-group col-4">

                    <div class="input-group-prepend">

                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>

                    <input type="text" id="oldPassword" class="form-control">
                </div>

            </div>
            <br><br>

            <div id="edit_avail">
                <div class="form-group row">
                    <div class="input-group col-8">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="dates_unavail">Add Dates available</span>
                        </div>
                        <input type="text" id="date" class="form-control">

                    </div>
                </div>
                            <div class="form-group row">
                <div class="input-group col-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="startDate">From</span>
                    </div>
                    <input type="text" id="startD" class="form-control">
                </div>
                <div class="input-group col-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="endDate">To</span>
                    </div>
                    <input type="text" id="endD" class="form-control">
                   <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" id="addDates">Add</button>
                    </div>
                </div>
                            <p id = "error" class = "error"></p>

            </div>


                <div class = "form-group space row">
                <div class="form-group">
                    <h5><label for="dates_unavail">New Availability: </label></h5>
                    <ul class="list-group" id="dates_avail">
                    </ul>
                </div>

                                    <div class="form-group space">
                    <h5><label for="dates_unavail">Current Availability: </label></h5>
                    <ol class="list-group" id="dates_sent">
                        {% for item in availability %}
                        <li class = "list-group-item">{{item.date.date.1}}/{{item.date.date.2}}/{{item.date.date.0}}</li>
                        {% endfor %}
                    </ol>
                </div>
                </div>
            </div>
           
            <br>

            <button type = "button" id="updateProfile" class="btn btn-block btn-dark btn-secondary">Update Profile</button>

        </form>
    </div>

</div>

{% endblock%}