
{% extends 'base.html' %}

{% block content %}


    <script>
    var roles = new Array();
    var users = {{users|safe}};
    var parameters = {{settings|safe}};

    $( document ).ready(function() {
        for(var i = 0; i <users.length;i++){
            var canTrue = "checked";
            var manTrue = "checked";
            var adminTrue = "checked";
            if(users[i].canvasser == false)
                canTrue = "";
            if(users[i].manager == false)
                manTrue = "";
            if(users[i].admin == false)
                adminTrue = "";
            $("#addToUsers").append("<tr>"+"<td>"+ users[i].id +"</td>"+"<td>"+ users[i].email +"</td>"+"<td id = 'adminTd'>"
            + "<input id = 'adminbox' type='checkbox'" + adminTrue +">" +"</td>"+"<td id = 'canvasserTd'>"
            + "<input id = 'canvasserbox' type='checkbox'" + canTrue +">" +"</td>"+"<td id = 'managerTd'>"
            + "<input id = 'managerbox' type='checkbox'" + manTrue +">" +"</td>"+"</tr>");
        }

    });

    $( document ).ready(function() {
        for(var i = 0; i <parameters.length;i++){

            $("#addToParameters").append("<tr>"+"<td>"+ parameters[i].name +"</td>"+"<td>"
            + "<input class = 'paraVal' type='text' value = " +parameters[i].value+">" +"</td>"+"</tr>");
        }

    });

    var allUsers = new Array();
    $(document).ready(function () {
        $("#updateUsers").click(function () {
            var temp = [];
            $('#adminTable tr').each(function(){
                var i = 0;
                $(this).find('td').each(function(){
                     var box = $(this).find('input[type="checkbox"]');
                     if(box.length) {
                        var status = box.prop('checked');
                        if(status == true){
                            temp.push(true);

                        }
                         else{
                            temp.push(false);
                        }
                     }
                     else{
                        temp.push($(this).html());
                     }

             });
        });
            alert(temp);
            $.ajax({
                type: "POST",
                url: "/api/administrator/update_users",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"users": temp}),
                success: function (result) {
                    alert(JSON.stringify(result));

                }
            });

        });
    });

    $(document).ready(function () {
        $("#updateParameters").click(function () {

            var value = document.getElementsByClassName("paraVal");
            alert(value[0].value);
            alert(value[1].value);
            $.ajax({
                type: "POST",
                url: "/api/administrator/update_parameters",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({parameters: [{"name":"hours", "value":value[0].value}, {"name":"speed", "value":value[1].value}]}),
                success: function (result) {
                    alert(JSON.stringify(result));

                }
            });
        });
    });



    </script>


<div class="jumbotron">
    <div class="flex-container">
                <div class="jumbotron">
                    <table class="table table-hover" id="adminTable">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">ID#</th>
                            <th scope="col">User Email</th>
                            <th scope="col">Admin</th>
                            <th scope="col">Canvasser</th>
                            <th scope="col">Manager</th>
                        </tr>
                        </thead>
                        <tbody id="addToUsers">
                        </tbody>
                    </table>
                    <button id="updateUsers" class="btn btn-block btn-dark btn-secondary">Save changes</button>
                </div>
        <div class ="space"></div>
                    <div class="jumbotron">

                        <table class="table table-hover" id="camTable">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">Parameters</th>
                                <th scope="col">Values</th>
                            </tr>
                            </thead>
                            <tbody id="addToParameters">
                            </tbody>
                        </table>
                        <button id="updateParameters" class="btn btn-block btn-dark btn-secondary">Save changes</button>
                    </div>

        </div>

    </div>


{% endblock%}