{% extends 'base.html' %}

{% block content %}

    <script>


    $(document).ready(function () {
        $("#logout").click(function () {
            $.ajax({
                type: "GET",
                url: "/api/logout",
                success: function (result) {
                    alert(JSON.stringify(result))
                }
            });
        });
    });
    </script>

<div class="jumbotron">



        <hr>
    <br>
    <table class="table table-hover" id = "assignTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Campaign's Assignments</th>
            <th scope ="col">Number of Locations</th>
        </tr>
        </thead>
        <tbody id = "addToTable">
         {% for assignment in assignments %}
         <tr>

            <td><a href="assignments/{{assignment.id}}" class='assignmentLink'>Assignment</a></td>
             <td>{{ assignment.locations|length }}</td>
        </tr>
         {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}