{% extends 'base.html' %}

{% block content %}
<script>
    $(document).ready(function() {
        $("#startAssignment").click(function () {
            window.location.href="/assignments/canvass";
        });
    });
</script>

<div class="jumbotron">
    <h1 id="currentCampaign" class="text-dark">Assignment {{assignment.id}}</h1>
    <hr/>
            <div class="row float-right">
            <div class="col">
                {% if 'campaign' in assignment %}
                <button id="startAssignment" class="btn btn-block btn-dark btn-secondary">Start Assignment</button>
                {% endif %}

            </div>
        </div>
    <br>

    <div class="form-group">
        <div class="input-group col-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="assignDur">Assignment's Duration [hrs]:</span>
            </div>
            <input id="duration" type="text" class="form-control" disabled value="{{assignment.duration}}">
        </div>
        <br>
        <div class="input-group col-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="assignCanvassers">Canvasser:</span>
            </div>
            <input id="canvassers" type="text" class="form-control" disabled value="{{assignment.canvassers.email}}">
        </div>
        <br>
        <div class="input-group col-5">
            <div class="input-group-prepend">
                <span class="input-group-text" id="assignDate">Assignment Date:</span>
            </div>
            <input id="date" type="text" class="form-control" disabled value="{{assignment.date.date.1}}/{{assignment.date.date.2}}/{{assignment.date.date.0}}">
        </div>
        <br>

        <div class = "form-group row">
        <div class="input-group col-6">
        <div id="map"></div>
        </div>

            <div class ="input-group col-4">

        <ul class=class="list-group" id="locations">
            {% for item in assignment.locations %}
                <li class="list-group-item list-group-item-dark">{{ item.street }}{{ item.city }}{{ item.state }}</li>
            {% endfor %}
        </ul>
            </div>


    </div>

</div>


<script>
// Initialize and add the map
function initMap() {

  var locations = {{ geo }};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 11, center: {lat: locations[0][0], lng: locations[0][1]}});
  for (i=0; i <locations.length; i ++){
      var marker = new google.maps.Marker({position: {lat: locations[i][0], lng: locations[i][1]}, map: map})
  }
}


</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2KRRab6Gis0ec2h5D5EFCdiiZMbbf-Pw&callback=initMap">
</script>

{% endblock %}
