{% extends 'base.html' %}

{% block content %}

    <script>



    $(document).ready(function() {
        $("#viewAssignment").click(function () {
            window.location.href="/campaigns/{{campaign.id}}/assignments";
        });
    });


    $(document).ready(function() {
        $("#editCamp").click(function () {
            window.location.href="/campaigns/{{campaign.id}}/edit";
        });
    });

    $(document).ready(function() {
        $("#createAssignment").click(function () {
                $.ajax({
                    type: "GET",
                    url: "/api/manager/campaigns/{{campaign.id}}/create_assignment",
                    success: function (result) {
                    alert(JSON.stringify(result));
                    window.location.href="/campaigns/{{campaign.id}}/assignments";

                    }
                });
        });
    });

    $(document).ready(function() {
        $("#viewResults").click(function () {
            window.location.href="/campaigns/{{campaign.id}}/result";
        });
    });

    $(document).ready(function () {
        $("#launch").click(function () {
        var launch = confirm("Are you sure you want to launch campaign? Campaigns can't be edited after being launched.");
        if(launch == true){
            $.ajax({
                type: "GET",
                url: "/api/manager/campaigns/{{campaign.id}}/start",
                success: function (result) {
                alert(JSON.stringify(result));

                }
            });
            location.reload();
        }

        });
    });

    </script>



<div class="jumbotron">

    <div class="container">
        <h1 id="currentCampaign" class="text-dark">{{campaign.name}}</h1><hr/>
        <div class="row float-right">
            <div class="col">
                <button id="createAssignment" class="btn btn-block btn-dark btn-secondary"
                        {% if rules.0 %} disabled {% endif %}>Create Assignment</button>
            </div>
            <div class="col">
                <button id="editCamp" class="btn btn-block btn-dark btn-secondary"
                        {% if rules.0 %} disabled {% endif %}>Edit Campaign</button>
            </div>
            <div class="col">
                <button id="viewAssignment" class="btn btn-block btn-dark btn-secondary">View Assignments</button>
            </div>
            <div class="col">
                <button id="viewResults" class="btn btn-block btn-dark btn-secondary"
                        {% if not rules.1 %} disabled {% endif %}>View Results</button>
            </div>
            <div class="col">
                <button id="launch" class="btn btn-block btn-dark btn-secondary"
                        {% if rules.0 %} disabled {% endif %}>Launch Campaign</button>
            </div>
        </div>
        <br>
        <div class = "space"></div>

        <br>
        <div class="row">

            <div class="col">
                <br>

                <form id="creatingCamp">
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camName">Campaign Name</span>
                            </div>
                            <input id="name" type="text" class="form-control" value = "{{campaign.name}}"disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <h5><label>Start: {{ rules.0 }}</label></h5>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <h5><label>Finish: {{ rules.1 }}</label></h5>
                        </div>
                    </div>

                    <br>
                    <div class="form-group row">
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                        <span class="input-group-text" id="camCalendar"><i
                                                class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" id="date" class="form-control" value = "{{campaign.start_date.1}}/{{campaign.start_date.2}}/{{campaign.start_date.0}} - {{campaign.end_date.1}}/{{campaign.end_date.2}}/{{campaign.end_date.0}}" disabled>
                        </div>
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camDuration">Visit Duration [Hrs.]</span>
                            </div>
                            <input type="text" id="visitDuration" class="form-control"  value = "{{campaign.duration}}"disabled>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="startDate">From</span>
                            </div>
                            <input type="text" id="startD" class="form-control" value = "{{campaign.start_date.1}}/{{campaign.start_date.2}}/{{campaign.start_date.0}}" disabled>
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="endDate">To</span>
                            </div>
                            <input type="text" id="endD" class="form-control" value = "{{campaign.end_date.1}}/{{campaign.end_date.2}}/{{campaign.end_date.0}}" disabled>
                        </div>

                    </div>
                    <br>
                    <div class="form-group">
                        <h5><label for="canvassers">Canvassers:</label></h5>
                        <ul class="list-group" id="canvassers">
                            {% for item in campaign.canvassers %}
                            <li class = "list-group-item">{{item.email}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <h5><label for="managers">Managers:</label></h5>
                        <ul class="list-group" id="managers">
                            {% for item in campaign.manager %}
                            <li class = "list-group-item">{{item.email}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <h5><label for="locations">Locations:</label></h5>
                        <ul class="list-group long-display" id="locations">
                            {% for item in campaign.locations %}
                            <li class = "list-group-item">{{item.number}}, {{item.street}}, {{item.unit}}, {{item.state}}, {{item.city}}, {{item.zipcode}}</li>
                            {% endfor %}
                        </ul>
                        <div id="map"></div>
                    </div>
                    <div class="form-group">
                        <h5><label for="talkingP">Talking points:</label></h5>
                        <ul class="list-group long-display" id="talkingP">
                            {% for item in campaign.talking_points %}
                            <li class = "list-group-item">{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="form-group">
                        <h5><label for="questions">Questionnaire:</label></h5>
                        <ul class="list-group long-display" id="questions">
                            {% for item in campaign.questions %}
                            <li class = "list-group-item">{{item}}</li>
                            {% endfor %}
                        </ul>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>


    <script>
// Initialize and add the map
function initMap() {

  var locations = {{ geo }};

  var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 11, center: {lat: locations[0][0], lng: locations[0][1]}});
  for (i=0; i <locations.length; i ++){
      var marker = new google.maps.Marker({position: {lat: locations[i][0], lng: locations[i][1]}, map: map})
  }
}
    </script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2KRRab6Gis0ec2h5D5EFCdiiZMbbf-Pw&callback=initMap">
    </script>

{% endblock %}