{% extends 'base.html' %}
{% block content %}


<script>
    var talkingPoints = new Array();
    var questions = new Array();
    var canvassers = new Array();
    var managers = new Array();
    var locations = new Array();
    var startDate = new Array();
    var endDate = new Array();


    $(document).on('click', '.float-right', function() {
        var str = $(this).parent().text().split("\n");
        var user = str[0];
        $(this).parent().remove();
        alert(user);
    });

    $(document).ready(function(){
        $("#addLocation").click(function () {
            locations = ($('#listofLocations').val().split('\n'));
            for(var i = 0; i <locations.length;i++){
                $("#locations").append('<div class = "container">'+'<li class ="list_item">'+ locations[i] +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            }
            })
    });

    $(document).ready(function () {
        $("#logout").click(function () {
            $.ajax({
                type: "GET",
                url: "/api/logout",
                success: function (result) {
                    window.location.href ="/";
                }
            });
        });
    });

    var obj = {{campaign|safe}};


    $(document).ready(function(){
        var start = obj.start_date;
        var end = obj.end_date;
        var startDate = start[1] + "/" +start[2] +"/"+ start[0];
        var endDate = end[1] + "/" +end[2] +"/"+ end[0];
        var fullDate = startDate + " - " + endDate;
        $("#currentCampaign").html(obj.name);
        $("#name").val(obj.name);
        $("#date").val(fullDate);
        alert(startDate);
        $("#startD").val(startDate);
        $("#endD").val(endDate);
        $("#visitDuration").val(obj.duration);

        $("#name").val(obj.name);
        $("#name").val(obj.name);
        $("#name").val(obj.name);
        $("#name").val(obj.name);
        $("#name").val(obj.name);
    });

    var startDate = new Array();
    var endDate = new Array();
    $( document ).ready(function() {
        $(function() {
            startDate = [];
            endDate = [];
            $('input[id="date"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                $("#startD").val(start.format('MM/DD/YYYY'));
                startDate.push(start.format('YYYY'));
                startDate.push(start.format('MM'));
                startDate.push(start.format('DD'));
                $("#endD").val(end.format('MM/DD/YYYY'));
                endDate.push(start.format('YYYY'));
                endDate.push(start.format('MM'));
                endDate.push(start.format('DD'));
            });
        });
     });

    $(document).ready(function(){
        $("#addCanvasser").click(function () {
            var found = 0;
            var exists = 0;
            for(var i = 0; i < canvassers.length;i++){
                if(canvassers[i] == $("#canvasserAdd").val()){
                    exists = 1;
                    break;
                }
            }
            for(var i = 0; i < canObj.length;i++){
                if(canObj[i].email == $("#canvasserAdd").val()){
                    canvassers.push(canObj[i].email);
                    found = 1;
                    break;
                }
            }
            if(found == 1 && exists ==0){
                $("#listCanvassers").append('<div class = "container">'+'<li class ="list_item">'+$("#canvasserAdd").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
                $("#errorCanvasser").html("User added!");
            }
            else if(found == 1 && exists ==1){
                $("#errorCanvasser").html("User already Added!");
            }
            else{
                $("#errorCanvasser").html("Invalid User!");
            }
        })
    });



    $(document).ready(function(){
        $("#addManager").click(function () {
            var found = 0;
            var exists = 0;
            for(var i = 0; i < managers.length;i++){
                if(managers[i] == $("#managerAdd").val()){
                    exists = 1;
                    break;
                }
            }
            for(var i = 0; i < manObj.length;i++){
                if(manObj[i].email == $("#managerAdd").val()){
                    managers.push(manObj[i].email);
                    found = 1;
                    break;
                }
            }
            if(found == 1 && exists ==0){
                $("#listManagers").append('<div class = "container">'+'<li class ="list_item">'+$("#managerAdd").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
                $("#errorManager").html("User added!");
            }
            else if(found == 1 && exists ==1){
                $("#errorManager").html("User already Added!");
            }
            else{
                $("#errorManager").html("Invalid User!");
            }
        })
    });


    $(document).ready(function () {
        $("#saveCamp").click(function () {
            $.ajax({
                type: "POST",
                url: "/api/manager/campaigns/"+obj.id+"/edit",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"campaign":{"name": $("#name").val()}}),
                success: function (result) {
                    alert(JSON.stringify(result));

                }
            });
        });
    });


    $(document).ready(function() {
        $("#viewAssignment").click(function () {
            window.location.href="/campaigns/"+obj.id+">" +"/assignments";
        });
    });




</script>

</head>


<body>
<div class="jumbotron">
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                <div class="navbar-header">

                    <div class="collapse navbar-collapse" id="menu1">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item" id="showManager"><a class="nav-link" href="/campaigns">Manager</a></li>
                            <li class="nav-item" id="showCanvasser"><a class="nav-link" href="/canvasser">Canvasser</a>
                            </li>
                        </ul>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse">

                    </button>
                </div>

                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/campaigns">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/account">Profile</a></li>
                        <li id="logout" class="nav-item"><a class="nav-link" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <div class="container">
        <br>
        <h2><span class="createHead">
        Edit Campaign
        </span></h2>
        <hr/>
        <br>
        <div class="row">

            <div class="col">
                <br>

                <form id="creatingCamp">
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Campaign Name</span>
                            </div>
                            <input id="name" type="text" class="form-control" value={{campaign.name}}>
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                        <span class="input-group-text" id="camCalendar"><i
                                                class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" id="date" class="form-control">
                        </div>
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camDuration">Visit Duration [Hrs.]</span>
                            </div>
                            <input type="text" id="visitDuration" class="form-control" value={{campaign.duration}}>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="startDate">From</span>
                            </div>

                            <input type="text" id="startD" class="form-control">
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="endDate">To</span>
                            </div>
                            <input type="text" id="endD" class="form-control">
                        </div>

                    </div>
                    <br>

                    <p id="errorCanvasser"></p>
                    <div class="form-group row">
                        <div class="input-group">
                            <div class="input-group col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="canAdd">Add Canvassers</span>
                                </div>
                                <input id="canvasserAdd" type="text" class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="addCanvasser">Add</button>
                                </div>

                            </div>

                        </div>

                        <div class="padding_adds"></div>
                        <div class="form-group">

                            <h5><label for="canvassers">Canvassers for this Campaign:</label></h5>
                            <ul class="list-group" id="canvassers">
                                {% for item in canvassers %}
                                <li class="list-group-item list-group-item-dark">{{item.email}}
                                    <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>

                    <p id="errorManager"></p>

                    <div class="form-group row">
                        <div class="input-group">
                            <div class="input-group col-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="manAdd">Add Managers</span>
                                </div>
                                <input type="text" class="form-control" id="managerAdd">
                                <div class="input-group-append">
                                    <button class="btn btn-secondary" type="button" id="addManager">Add</button>
                                </div>
                            </div>
                        </div>


                        <div class="padding_adds"></div>
                        <div class="form-group">
                            <h5><label for="managers">Managers for this Campaign:</label></h5>
                            <ul class="list-group" id="managers">
                                {% for item in managers %}
                                <li class="list-group-item list-group-item-dark">{{item.email}}
                                    <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="locationLabel">Add Locations</span>
                            </div>
                            <textarea id="listofLocations" class="form-control"></textarea>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addLocation">Add</button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <h5><label for="locations">Locations:</label></h5>
                        <ul class="list-group" id="locations">
                            {% for item in campaign.locations %}
                            <li class="list-group-item list-group-item-dark">{{item.street}}, {{item.city}},
                                {{item.state}} {{item.zipcode}}
                                <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                            </li>


                            {% endfor %}
                        </ul>
                    </div>


                    <br>

                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="talking">Add Talking Point</span>
                            </div>
                            <input type="text" class="form-control" id="insertTalk">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addTalk">Add</button>
                            </div>

                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="talkingP">Talking Points:</label></h5>
                            <ul class="list-group list-group-flush" id="talkingP">

                                {% for item in campaign.talking_points %}
                                <li class="list-group-item list-group-item-dark">{{item}}
                                    <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                                </li>

                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="questionsLabel">Add Question</span>
                            </div>
                            <input type="text" class="form-control" id="insertQ">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addQuestion">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="questions">Questionnaire:</label></h5>
                            <ul class="list-group" id="questions">
                                {% for item in campaign.questions %}
                                <li class="list-group-item list-group-item-dark">{{item}}
                                    <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button id="saveCamp" class="btn btn-block btn-dark btn-secondary" type="button">Save
                            Changes
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}