{% extends 'base.html' %}
{% block content %}

    <script>

    var talkingPoints = new Array();
    var questions = new Array();
    var canvassers = new Array();
    var managers = new Array();
    var locations = new Array();
    var startDate = new Array();
    var endDate = new Array();

    var canObj = {{canvassers|safe}};
    var manObj = {{managers|safe}};

    $(document).ready(function(){
        $("ul").on("click", "button", function(e) {
            e.preventDefault();
            alert($(this).parent().text());
            $(this).parent().remove();
        });
    });

    $(document).ready(function(){
        $("#addTalk").click(function () {
            talkingPoints.push($("#insertTalk").val());
            $("#talkPoints").append('<div class = "container">'+'<li class ="list_item">'+$("#insertTalk").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            })
    });

    $(document).ready(function(){
        $("#addCanvasser").click(function () {
            var found = 0;
            var exists = 0;
            for(var i = 0; i < canvassers.length;i++){
                if(canvassers[i] == $("#canvasserAdd").val()){
                    exists = 1;
                    break;
                }
            }
            for(var i = 0; i < canObj.length;i++){
                if(canObj[i].email == $("#canvasserAdd").val()){
                    canvassers.push(canObj[i].email);
                    found = 1;
                    break;
                }
            }
            if(found == 1 && exists ==0){
                $("#listCanvassers").append('<div class = "container">'+'<li class ="list_item">'+$("#canvasserAdd").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
                $("#errorCanvasser").html("User added!");
            }
            else if(found == 1 && exists ==1){
                $("#errorCanvasser").html("User already Added!");
            }
            else{
                $("#errorCanvasser").html("Invalid User!");
            }
        })
    });



    $(document).ready(function(){
        $("#addManager").click(function () {
            var found = 0;
            var exists = 0;
            for(var i = 0; i < managers.length;i++){
                if(managers[i] == $("#managerAdd").val()){
                    exists = 1;
                    break;
                }
            }
            for(var i = 0; i < manObj.length;i++){
                if(manObj[i].email == $("#managerAdd").val()){
                    managers.push(manObj[i].email);
                    found = 1;
                    break;
                }
            }
            if(found == 1 && exists ==0){
                $("#listManagers").append('<div class = "container">'+'<li class ="list_item">'+$("#managerAdd").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
                $("#errorManager").html("User added!");
            }
            else if(found == 1 && exists ==1){
                $("#errorManager").html("User already Added!");
            }
            else{
                $("#errorManager").html("Invalid User!");
            }
        })
    });

    $(document).ready(function(){
        $("#addLocation").click(function () {
            locations = ($('#listofLocations').val().split('\n'));
            for(var i = 0; i <locations.length;i++){
                $("#listLocations").append('<div class = "container">'+'<li class ="list_item">'+ locations[i] +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            }
            })
    });

    $(document).ready(function(){
        $("#addQuestion").click(function () {
            questions.push($("#insertQ").val());
            $("#questions").append('<div class = "container">'+'<li class = "list_item">'+$("#insertQ").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            })
    });

    $(document).ready(function () {
        $("#logout").click(function () {
            $.ajax({
                type: "GET",
                url: "/api/logout",
                success: function (result) {
                    window.location.href ="/";
                }
            });
        });
    });

    $( document ).ready(function() {
        $(function() {
            startDate = [];
            endDate = [];
            $('input[id="date"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                $("#startD").val(start.format('MM/DD/YYYY'));
                startDate.push(start.format('YYYY'));
                startDate.push(start.format('MM'));
                startDate.push(start.format('DD'));
                $("#endD").val(end.format('MM/DD/YYYY'));
                endDate.push(start.format('YYYY'));
                endDate.push(start.format('MM'));
                endDate.push(start.format('DD'));
                for(var i = 0; i <3;i++){
                    startDate[i] = parseInt(startDate[i]);
                    endDate[i] = parseInt(endDate[i]);
                }
            });
        });
     });



    $(document).ready(function () {
        $("#submitCamp").click(function () {

            var duration = parseFloat($("#visitDuration").val());
            alert(locations);
            $.ajax({
                type: "POST",
                url: "/api/manager/campaigns/create",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"campaign": {"name": $("#camName").val(), "start_date": startDate, "end_date": endDate,"duration":duration, "talking_points" : talkingPoints.toString(),
                                      "locations" : locations,"questions": questions.toString(), "canvassers" : canvassers,"managers": managers}}),
                success: function (result) {
                   alert(JSON.stringify(result))

                }
            });
        });
    });




    </script>




<div class="jumbotron">

    <div class="container">
        <br>
        <h2><span class="createHead">
        Create Campaign
        </span></h2>
        <hr/>
                <br>
{{campaigns}}
                <form id="creatingCamp">
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Campaign Name</span>
                            </div>
                            <input type="text" class="form-control" id="camName" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camCalendar"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" id="date" class="form-control">
                        </div>
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camDuration">Visit Duration [Hrs.]</span>
                            </div>
                            <input type="text" id="visitDuration" class="form-control">
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="startDate">From</span>
                            </div>
                            <input type="text" id="startD" class="form-control">
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="endDate">To</span>
                            </div>
                            <input type="text" id="endD" class="form-control">
                        </div>

                    </div>
                    <br>

                    <div class="form-group row">
                        <div class="input-group col-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="canAdd">Add Canvassers</span>
                            </div>
                            <input id="canvasserAdd" type="text" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addCanvasser">Add</button>
                            </div>
                        </div>
                    </div>

                    <p id="errorCanvasser"></p>

                    <div class="form-group">
                        <h5><label for="listCanvassers">Campaign's Canvassers:</label></h5>
                        <ul class="list-group" id="listCanvassers">
                        </ul>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="manAdd">Add Managers</span>
                            </div>
                            <input type="text" class="form-control" id = "managerAdd">
                                                        <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addManager">Add</button>
                            </div>
                        </div>
                    </div>

                    <p id = "errorManager"></p>

                    <div class="form-group">
                        <h5><label for="listManagers">Managers for this Campaign:</label></h5>
                        <ul class="list-group" id="listManagers">
                        </ul>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="locationLabel">Add Locations</span>
                            </div>
                            <textarea id = "listofLocations" class="form-control"></textarea>
                                                        <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addLocation">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">

                    </div>
                    <div class="form-group">
                        <h5><label for="listLocations">Locations:</label></h5>
                        <ul class="list-group" id="listLocations">
                        </ul>

                    </div>


                    <br>

                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="talking">Add Talking Point</span>
                            </div>
                            <input type="text" class="form-control" id="insertTalk">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addTalk">Add</button>
                            </div>

                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="talkPoints">Talking Points:</label></h5>
                            <ul class="list-group list-group-flush" id="talkPoints">
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="questionsLabel">Add Question</span>
                            </div>
                            <input type="text" class="form-control" id="insertQ">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addQuestion">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="questions">Questionnaire:</label></h5>
                            <ul class="list-group" id="questions">
                            </ul>
                        </div>
                    </div>


                </form>

            </div>

                   <div id="center">

                                <button id="submitCamp" class="btn btn-block btn-dark btn-secondary" type="button">Save
                                    Campaign
                                </button>

                    </div>

</div>

{% endblock %}