{% extends 'base.html' %}
{% block content %}


<script>
    var talkingPoints = new Array();
    var questions = new Array();
    var canvassers = new Array();
    var managers = new Array();
    var locations = new Array();
    var startDate = new Array();
    var endDate = new Array();
    var allCanvassers = new Array();
    var allManagers = new Array();

    $(document).ready(function(){
        $(".canvassersInfo").each(function() {

            allCanvassers.push($( this ).text());
        });
    });

    $(document).ready(function(){
        $(".managersInfo").each(function() {
            allManagers.push($(this).text());

        });

    });

    $(document).ready(function(){
        $(".points").each(function() {
            var talk = ($(this).text().split("\n"));

            talkingPoints.push(talk[0]);
        });

    });

    $(document).ready(function(){
        $(".quests").each(function() {
        var q = ($(this).text().split("\n"));
            questions.push(q[0]);

        });

    });

    <!--$(document).ready(function(){-->
        <!--$("talkingP").each(function() {-->
            <!--talkingPoints.push($(this).text());-->

        <!--});-->

    <!--});-->

    $(document).ready(function(){
        $(".mymanagers").each(function() {
            var man = $(this).text().split("\n");
            console.log(man[0]);
            managers.push(man[0]);

        });
    });

    $(document).ready(function(){
        $(".startInfo").each(function() {
            var date = $(this).text().split("\n");

            startDate.push(parseInt(date[0]));

        });

    });
    $(document).ready(function(){
        $(".endInfo").each(function() {
            var date = $(this).text().split("\n");

            endDate.push(parseInt(date[0]));

        });


    });

    $(document).ready(function(){
        $(".camCanvassers").each(function() {
            var can = $(this).text().split("\n");
            canvassers.push(can[0]);


        });

    });

      $(document).on('click', '.delete-user-canvasser', function() {
        var str = $(this).parent().text().split("\n ");
        var str2 = str[0].split(" ");
        var user = str2[0];

        for(var i = 0; i < canvassers.length;i++){

                if(canvassers[i] == user){
                alert("found");
                    canvassers.splice(i,1);
                    break;
                }
        }
        $(this).parent().remove();

    });

    $(document).on('click', '.add-user-canvasser', function() {
    alert(managers);
            var found = 0;
            var exists = 0;
            var str = $(this).parent().text().split("\n");
            var user = str[0];



            for(var i = 0; i < canvassers.length;i++){
                if(canvassers[i] == user){
                    exists = 1;
                    break;
                }
            }

            if(exists == 0){
                canvassers.push(user);
                $("#canvassers").append('<li class ="list-group-item">'+user+'<button type="button" class="btn btn-secondary btn-sm delete-user-canvasser float-right"> X</button>'+"</li>");
                $("#successCanvasser").html("User added!");
                $("#errorCanvasser").html("");
            }
            else if(exists == 1){
                $("#errorCanvasser").html("User already Added!");
                $("#successCanvasser").html("");
            }
            else{
                $("#errorCanvasser").html("Invalid Error");
                $("#successCanvasser").html("");
            }

    });


    $(document).on('click', '.delete-user-manager', function() {
        var str = $(this).parent().text().split("\n");
        var str2 = str[0].split(" ");
        var user = str2[0];
        $(this).parent().remove();
        alert(user);

        for(var i = 0; i < managers.length;i++){

                if(managers[i] == user){
                    managers.splice(i,1);
                    break;
                }
        }

    });

    $(document).on('click', '.add-user-manager', function() {
            var exists = 0;
            var str = $(this).parent().text().split("\n");
            var user = str[0];


            for(var i = 0; i < managers.length;i++){

                if(managers[i] == user){
                    exists = 1;
                    break;
                }
            }

            if(exists ==0){
                managers.push(user);
                $("#managers").append('<li class ="list-group-item">'+user+'<button type="button" class="btn btn-secondary btn-sm delete-user-manager float-right"> X</button>'+"</li>");
                $("#successManager").html("User added!");
                $("#errorManager").html("");
            }
            else if(exists ==1){
                $("#errorManager").html("User already Added!");
                $("#successManager").html("");
            }
            else{
                $("#errorManager").html("Invalid User!");
                $("#successManager").html("");
            }

    });


    $(document).ready(function(){
        $("#addTalk").click(function () {
            talkingPoints.push($("#insertTalk").val());
            $("#talkPoints").append('<li class ="list-group-item">'+$("#insertTalk").val() +'<button type="button" class="btn btn-secondary float-right delete-talk"> X</button>'+"</li>");
            })
    });



    $(document).ready(function(){
        $("#addLocation").click(function () {
            var temp = new Array();

            temp = ($('#listofLocations').val().split('\n'));
            for (var i = 0;i <temp.length;i++){
                locations.push(temp[i]);
            }
            for(var i = 0; i <locations.length;i++){
                $("#listLocations").append('<li class ="list-group-item">'+ locations[i] +'<button type="button" class="btn btn-secondary float-right delete-location"> X</button>'+"</li>");
            }
            })
    });

    $(document).ready(function(){
        $("#addQuestion").click(function () {
            questions.push($("#insertQ").val());
            $("#questions").append('<li class = "list-group-item">'+$("#insertQ").val() +'<button type="button" class="btn btn-secondary float-right delete-question"> X</button>'+"</li>");
            })
    });

    $(document).on('click', '.delete-talk', function() {
        var str = $(this).parent().text().split(" ");
        var point = str[0];
        $(this).parent().remove();

        for(var i = 0; i < talkingPoints.length;i++){

                if(talkingPoints[i] == point){
                    talkingPoints.splice(i,1);
                    break;
                }
        }

    });

    $(document).on('click', '.delete-location', function() {
        var str = $(this).parent().text().split(" X");
        var loc = str[0];
        $(this).parent().remove();

        for(var i = 0; i < locations.length;i++){
                if(locations[i] == loc){
                    locations.splice(i,1);
                    break;

                }
        }

    });

    $(document).on('click', '.delete-question', function() {
        var str = $(this).parent().text().split(" ");
        var temp = str[0];
        $(this).parent().remove();

        for(var i = 0; i < questions.length;i++){
                if(questions[i] == temp){
                    questions.splice(i,1);
                    break;
                }
        }

    });


    <!--$( document ).ready(function() {-->
        <!--$(function() {-->
            <!--startDate = [];-->
            <!--endDate = [];-->
            <!--$('input[id="date"]').daterangepicker({-->
                <!--opens: 'left'-->
            <!--}, function(start, end, label) {-->
                <!--$("#startD").val(start.format('MM/DD/YYYY'));-->
                <!--startDate.push(start.format('YYYY'));-->
                <!--startDate.push(start.format('MM'));-->
                <!--startDate.push(start.format('DD'));-->
                <!--$("#endD").val(end.format('MM/DD/YYYY'));-->
                <!--endDate.push(start.format('YYYY'));-->
                <!--endDate.push(start.format('MM'));-->
                <!--endDate.push(start.format('DD'));-->
            <!--});-->
        <!--});-->
     <!--});-->



    $(document).ready(function () {
        $("#saveCamp").click(function () {
            var duration = parseFloat($("#visitDuration").val());
            alert(endDate);
            $.ajax({
                type: "POST",
                url: "/api/manager/campaigns/{{campaign.id}}/edit",
                contentType: "application/json",
                dataType: "json",
                data:  JSON.stringify({"campaign": {"name": $("#camName").val(), "start_date": startDate, "end_date": endDate,"duration":duration, "talking_points" : talkingPoints,
                                      "locations" : locations,"questions": questions, "canvassers" : canvassers,"managers": managers}}),
                success: function (result) {
                     window.location.href ="/campaigns/{{campaign.id}}";

                }
            });
        });
    });


    $(document).ready(function() {
        $("#viewAssignment").click(function () {
            window.location.href="/campaigns/"+obj.id+">" +"/assignments";
        });
    });






</script>


<div class="jumbotron">

    <ul class="getInfo">
        {% for item in canvassers%}
        <li class="canvassersInfo">{{item.email}}</li>
        {%endfor%}
    </ul>

    <ul class ="getInfo">
        {%for item in campaign.start_date%}
        <li class="startInfo">{{item}}</li>
        {%endfor%}
    </ul>

    <ul class ="getInfo">
        {%for item in campaign.end_date%}
        <li class="endInfo">{{item}}</li>
        {%endfor%}
    </ul>

    <ul class="getInfo">
        {% for item in managers%}
        <li class="managersInfo">{{item.email}}</li>
        {%endfor%}
    </ul>

    <div class="container">
        <br>
        <h2><span class="createHead">
        Edit Campaign
        </span></h2>
        <hr/>
        <br>
        <div class="row">

            <div class="col">
                <br>

                <form id="creatingCamp">
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Campaign Name</span>
                            </div>
                            <input id="camName" type="text" class="form-control" value={{campaign.name}}>
                        </div>
                    </div>
                    <br>

                    <div class="form-group row">
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                        <span class="input-group-text" id="camCalendar"><i
                                                class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" id="date" class="form-control" value = "{{campaign.start_date.1}}/{{campaign.start_date.2}}/{{campaign.start_date.0}} - {{campaign.end_date.1}}/{{campaign.end_date.2}}/{{campaign.end_date.0}}">
                        </div>
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camDuration">Visit Duration [Hrs.]</span>
                            </div>
                            <input type="text" id="visitDuration" class="form-control" value={{campaign.duration}}>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="startDate">From</span>
                            </div>

                            <input type="text" id="startD" class="form-control" value = "{{campaign.start_date.1}}/{{campaign.start_date.2}}/{{campaign.start_date.0}}">
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="endDate">To</span>
                            </div>
                            <input type="text" id="endD" class="form-control" value = "{{campaign.end_date.1}}/{{campaign.end_date.2}}/{{campaign.end_date.0}}">
                        </div>

                    </div>
                    <br>

                    <p id="errorCanvasser"></p>
                    <p id="successCanvasser"></p>
                    <div class="form-group row">

                        <div class="form-group">
                            <h5><label class="campaignLabel" for="canvassers">Available Canvassers:</label></h5>

                            <ol class="list-group" id="allCanvassers">
                                {% for item in canvassers %}

                                <li class="list-group-item">{{item.email}}
                                    <button type="button"
                                            class="btn btn-secondary btn-sm add-user-canvasser float-right"><i
                                            class="fa fa-arrow-right"></i></button>
                                </li>

                                {% endfor %}

                            </ol>

                        </div>

                        <div class="padding_adds"></div>
                        <div class="form-group">

                            <label class="campaignLabel" for="canvassers">Campaign's Canvassers:</label>
                            <ul class="list-group" id="canvassers">

                                {% for item in campaign.canvassers %}
                                <li class="list-group-item camCanvassers">{{item.email}}
                                    <button type="button"
                                            class="btn btn-secondary btn-sm delete-user-canvasser float-right"> X
                                    </button>
                                </li>
                                {% endfor %}
                            </ul>

                        </div>
                    </div>

                    <p id="errorManager"></p>
                    <p id="successManager"></p>

                    <div class="form-group row">
                        <div class="form-group">
                            <h5><label class="campaignLabel" for="managers">Available Managers:</label></h5>

                            <ol class="list-group" id="allManagers">
                                {% for item in managers %}

                                <li class="list-group-item">{{item.email}}
                                    <button type="button"
                                            class="btn btn-secondary btn-sm add-user-manager float-right"><i
                                            class="fa fa-arrow-right"></i></button>
                                </li>

                                {% endfor %}

                            </ol>

                        </div>

                        <div class="padding_adds"></div>

                        <div class="form-group">
                            <h5><label class="campaignLabel" for="canvassers">Campaign's Managers:</label></h5>

                            <ul class="list-group" id="managers">

                                {% for item in campaign.manager %}

                                <li class="list-group-item mymanagers">{{item.email}}
                            <button type="button" id="x"
                                    class="btn btn-secondary btn-sm delete-user-manager float-right"> X
                            </button>
                                </li>

                                {% endfor %}

                            </ul>

                        </div>


                    </div>

                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="locationLabel">Add Locations</span>
                            </div>
                            <textarea id="listofLocations" class="form-control"></textarea>
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addLocation">Add</button>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <h5><label for="locations">Locations:</label></h5>
                        <ul class="list-group long-display" id="locations">
                            {% for item in campaign.locations %}
                            <li class="list-group-item list-group-item-dark">{{item.number}}, {{item.street}}, {{item.city}},
                                {{item.state}} {{item.zipcode}}
                                <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                            </li>


                            {% endfor %}
                        </ul>
                    </div>


                    <br>

                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="talking">Add Talking Point</span>
                            </div>
                            <input type="text" class="form-control" id="talkPoints">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addTalk">Add</button>
                            </div>

                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="talkingP">Talking Points:</label></h5>
                            <ul class="list-group list-group-flush long-display" id="talkingP">

                                {% for item in campaign.talking_points %}
                                <li class="list-group-item list-group-item-dark points">{{item}}
                                    <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                                </li>

                                {% endfor %}

                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="questionsLabel">Add Question</span>
                            </div>
                            <input type="text" class="form-control" id="insertQ">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addQuestion">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="questions">Questionnaire:</label></h5>
                            <ul class="list-group long-display" id="questions">
                                {% for item in campaign.questions %}
                                <li class="list-group-item list-group-item-dark quests">{{item}}
                                    <button type="button" class="btn btn-secondary btn-sm float-right">X</button>
                                </li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <button id="saveCamp" class="btn btn-block btn-dark btn-secondary" type="button">Save
                            Changes
                        </button>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}