<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="">

    <title>Super Canvasser Create Campaign</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'supercanvassercampaign.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>
    var roles = new Array();
    var talkingPoints = new Array();
    var questions = new Array();
    var canvassers = new Array();
    var managers = new Array();
    var canObj = {{canvassers|safe}};
    var manObj = {{managers|safe}};
    $( document ).ready(function() {
        {% for val in role %}
            roles.push({{val|yesno:"true,false"}});
        {% endfor %}
         if(roles[0] == true && roles[1] == true){
            $("#showManager").show();
            $("#showCanvasser").show();
         }
         else if(roles[0] == true && roles[1] == false){
            $("#showManager").hide();
            $("#showCanvasser").show();
         }
         else if(roles[0] == false && roles[1] == true){
            $("#showManager").show();
            $("#showCanvasser").hide();
         }
    });

    $(document).ready(function(){
        $("ul").on("click", "button", function(e) {
            e.preventDefault();
            $(this).parent().remove();
        });
    });

    $(document).ready(function(){
        $("#addTalk").click(function () {
            talkingPoints.push($("#insertTalk").val());
            $("#talkPoints").append('<div class = "container">'+'<li class ="list_item">'+$("#insertTalk").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            })
    });

    $(document).ready(function(){
        $("#addCanvasser").click(function () {
            var found = 0;
            var exists = 0;
            for(var i = 0; i < canvassers.length;i++){
                if(canvassers[i] == $("#canvasserAdd").val()){
                    exists = 1;
                    break;
                }
            }
            for(var i = 0; i < canObj.length;i++){
                if(canObj[i].email == $("#canvasserAdd").val()){
                    canvassers.push(canObj[i].email);
                    found = 1;
                    break;
                }
            }
            if(found == 1 && exists ==0){
                $("#listCanvassers").append('<div class = "container">'+'<li class ="list_item">'+$("#canvasserAdd").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
                $("#errorCanvasser").html("User added!");
            }
            else if(found == 1 && exists ==1){
                $("#errorCanvasser").html("User already Added!");
            }
            else{
                $("#errorCanvasser").html("Invalid User!");
            }
        })
    });



    $(document).ready(function(){
        $("#addManager").click(function () {
            var found = 0;
            var exists = 0;
            for(var i = 0; i < managers.length;i++){
                if(managers[i] == $("#managerAdd").val()){
                    exists = 1;
                    break;
                }
            }
            for(var i = 0; i < manObj.length;i++){
                if(manObj[i].email == $("#managerAdd").val()){
                    managers.push(manObj[i].email);
                    found = 1;
                    break;
                }
            }
            if(found == 1 && exists ==0){
                $("#listManagers").append('<div class = "container">'+'<li class ="list_item">'+$("#managerAdd").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
                $("#errorManager").html("User added!");
            }
            else if(found == 1 && exists ==1){
                $("#errorManager").html("User already Added!");
            }
            else{
                $("#errorManager").html("Invalid User!");
            }
        })
    });

    $(document).ready(function(){
        $("#addLocation").click(function () {
            $("#listLocations").append('<div class = "container">'+'<li class ="list_item">'+$("#street").val()+ "<br>"+ " "+$("#city").val() + ", "+$("#state").val() +" "+$("#zip").val()  +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            })
    });

    $(document).ready(function(){
        $("#addQuestion").click(function () {
            questions.push($("#insertQ").val());
            $("#questions").append('<div class = "container">'+'<li class = "list_item">'+$("#insertQ").val() +'<button type="button" class="btn btn-secondary float-right">X</button>'+"</li>" + '</div>');
            })
    });

    $(document).ready(function () {
        $("#logout").click(function () {
            $.ajax({
                type: "GET",
                url: "/api/logout",
                success: function (result) {
                    window.location.href ="/";
                }
            });
        });
    });

    var startDate = new Array();
    var endDate = new Array();
    $( document ).ready(function() {
        $(function() {
            startDate = [];
            endDate = [];
            $('input[id="date"]').daterangepicker({
                opens: 'left'
            }, function(start, end, label) {
                $("#startD").val(start.format('MM/DD/YYYY'));
                startDate.push(start.format('YYYY'));
                startDate.push(start.format('MM'));
                startDate.push(start.format('DD'));
                $("#endD").val(end.format('MM/DD/YYYY'));
                endDate.push(start.format('YYYY'));
                endDate.push(start.format('MM'));
                endDate.push(start.format('DD'));
            });
        });
     });

        <!--$(document).ready(function () {-->
        <!--$("#submitCamp").click(function () {-->
            <!--$.ajax({-->
                <!--type: "POST",-->
                <!--url: "/api/manager/campaigns/create",-->
                <!--contentType: "application/json",-->
                <!--dataType: "json",-->
                <!--data: JSON.stringify({"campaign": {"name":"name1", "talking_points": "[]"}}),-->
                <!--success: function (result) {-->
                    <!--alert(JSON.stringify(result));-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--});-->



    $(document).ready(function () {
        $("#submitCamp").click(function () {

            $.ajax({
                type: "POST",
                url: "/api/manager/campaigns/create",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"campaign": {}}),
                success: function (result) {
                   alert(JSON.stringify(result))

                }
            });
        });
    });




    </script>

</head>


<body>
<div class="container">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container">
            <div class="navbar-header">

                <div class="collapse navbar-collapse" id="menu1">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item" id="showManager"><a class="nav-link" href="/campaigns">Manager</a></li>
                        <li class="nav-item" id="showCanvasser"><a class="nav-link" href="#">Canvasser</a></li>
                    </ul>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse">

                </button>
            </div>

            <div class="collapse navbar-collapse" id="menu">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="/campaigns">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/account">Profile</a></li>
                    <li id="logout" class="nav-item"><a class="nav-link" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<div class="jumbotron">

    <div class="container">
        <br>
        <h2><span class="createHead">
        Create Campaign
        </span></h2>
        <hr/>
                <br>

                <form id="creatingCamp">
                    <div class="form-group row">
                        <div class="input-group col-8">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Campaign Name</span>
                            </div>
                            <input type="text" class="form-control" id="camName" required>
                        </div>
                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="input-group col-5">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camCalendar"><i class="fa fa-calendar"></i></span>
                            </div>
                            <input type="text" id="date" class="form-control">
                        </div>
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="camDuration">Visit Duration [Hrs.]</span>
                            </div>
                            <input type="text" id="visitDuration" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="startDate">From</span>
                            </div>
                            <input type="text" id="startD" class="form-control">
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="endDate">To</span>
                            </div>
                            <input type="text" id="endD" class="form-control">
                        </div>

                    </div>
                    <br>
                    <div class="form-group row">
                        <div class="input-group col-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="canAdd">Add Canvassers</span>
                            </div>
                            <input id="canvasserAdd" type="text" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addCanvasser">Add</button>
                            </div>
                        </div>
                    </div>
                    <p id="errorCanvasser"></p>
                    <div class="form-group">
                        <h5><label for="listCanvassers">Canvassers for this Campaign:</label></h5>
                        <ul class="list-group" id="listCanvassers">
                        </ul>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="manAdd">Add Managers</span>
                            </div>
                            <input type="text" class="form-control" id = "managerAdd">
                                                        <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addManager">Add</button>
                            </div>
                        </div>
                    </div>
                    <p id = "errorManager"></p>
                    <div class="form-group">
                        <h5><label for="listManagers">Managers for this Campaign:</label></h5>
                        <ul class="list-group" id="listManagers">
                        </ul>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="streetLabel">Street</span>
                            </div>
                            <input id="street" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">City</span>
                            </div>
                            <input id="city" type="text" class="form-control">
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="stateLabel">State</span>
                            </div>
                            <input id="state" type="text" class="form-control" maxlength="2" placeholder="NY">
                        </div>
                        <div class="input-group col-2">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="zipLabel">Zip</span>
                            </div>
                            <input id="zip" type="text" class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addLocation">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <h5><label for="listLocations">Locations:</label></h5>
                        <ul class="list-group" id="listLocations">
                        </ul>
                    </div>


                    <br>

                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="talking">Add Talking Point</span>
                            </div>
                            <input type="text" class="form-control" id="insertTalk">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addTalk">Add</button>
                            </div>

                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="talkPoints">Talking Points:</label></h5>
                            <ul class="list-group list-group-flush" id="talkPoints">
                            </ul>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="input-group col-7">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="questionsLabel">Add Question</span>
                            </div>
                            <input type="text" class="form-control" id="insertQ">
                            <div class="input-group-append">
                                <button class="btn btn-secondary" type="button" id="addQuestion">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="text_limit">
                        <div class="form-group">
                            <h5><label for="questions">Questionnaire:</label></h5>
                            <ul class="list-group" id="questions">
                            </ul>
                        </div>
                    </div>


                </form>

            </div>

                   <div id="center">

                                <button id="submitCamp" class="btn btn-block btn-dark btn-secondary" type="button">Save
                                    Campaign
                                </button>

                    </div>

</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>

<!--
  ================================================== -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>