{% extends 'base.html' %}
{% block content %}
    <script>


    $(document).ready(function() {
        $("#createCamp").click(function () {
            window.location.href="/campaigns/create";
        });
    });

    $(document).ready(function () {
        $("#logout").click(function () {
            $.ajax({
                type: "GET",
                url: "/api/logout",
                success: function (result) {
                    window.location.href ="/";
                }
            });
        });
    });
    </script>

<div class="jumbotron">
    <br><br>
    <div class="container-flex">
        <div class="row">
            <div class="col-2 float-left">
                <p>example text</p>
            </div>
            <div id = "space" class="col-2 float-right">
                <button id="createCamp" class="btn btn-block btn-dark btn-secondary">Create Campaign</button>
            </div>
        </div>
    </div>
    <br><br><br>
{{campaigns}}
    <table class="table table-hover" id = "camTable">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Your Campaigns</th>
        </tr>
        </thead>
        {% for item in campaigns %}
        <tr><td><a href="/campaigns/{{item.id}}" class = 'campaignLink'>{{item.name}}</a></td></tr>
        {% endfor %}
        <tbody id = "addToTable">

        </tbody>
    </table>

</div>
{% endblock %}

