<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error Page</title>
    <!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="style.css" />

</head>
<?php
  header( "refresh:5;url=/account" );
?>
<body>


    <div id="notfound">
		<div class="notfound">
			<h2>Oops! Access Denied</h2>
			<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
			<a href="#">Back to homepage</a>
		</div>
	</div>

</body>
</html>