<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">

  <title>Super Canvasser Login</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="loginstyle.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <script>
    $(document).ready(function () {
        $("#submit").click(function () {
            $.ajax({
                type: "POST",
                url: "/api/login",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({"email": $("#inputUser").val(), "password": $("#inputPassword").val()}),
                success: function (result) {
                    alert(JSON.stringify(result));
                    if (result.role[1] == true && result.role[0] == true){
                        data = JSON.stringify(result);
                        window.location.href="/manager";
                    }
                    else if(result.role[1] == true && result.role[0] == false){
                        window.location.href = "/manager";
                    }
                    else if(result.role[0] == true && result.role[1] == false){
                        window.location.href ="/canvasser";
                    }
                    else if(result.role[2] == true){
                        window.location.href = "/admin"
                    }
                }
            });
        });
    });
    </script>
</head>


 <body class="text-center">

      <div class ="jumbotron">


    <form class="form-signin" onsubmit="return false">
      <h1>Super Canvasser</h1>

      <label for="inputUser" class="sr-only">Username</label>
      <input type="text" id="inputUser" class="form-control" placeholder="Username" required>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="Password" id="inputPassword" class="form-control" placeholder="Password" required>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button id="submit" class="btn btn-block btn-dark btn-outline-primary">Sign in</button>
      <br>
    </form>

  </div>

    <!--
      ================================================== -->

      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
